html,
body {
	height: 100%;
}

header h1 {
	margin-top: 0;
	margin-bottom: 0;
}


/* -----ESTILO GERAL------*/
.page-header{
	position: relative;
	text-align: center;
	border-bottom-color: #B22222;
}

.conteudo-pagina{
	position: relative;
	justify-content: center;
	text-align: center;
}

.evidenciar{
	font-size: 16px;
	font-weight: bolder;
	font-style: italic;	
}

.glyphicon.btn-default{
	position: relative;
	left: 27px;
}

.design-busca{
	padding-top: 23px;
}

textarea{
	resize: vertical;
}
/*------------------------*/


/* -------NAVBAR------- */
.config-contaner{
	margin-right: auto;
	margin-left: auto;
	padding-left: 30px;
	padding-right: 30px;
	width: 100%;
}

.config-header{
	display: inline;
	width: 100%;
	border-bottom: 6px solid #8B0000;
	position: fixed;
	z-index: 99999;
}

.navbar-header{
	height: 100px;
}

.navbar-brand{
	padding: 15px 15px 15px 15px;
}

.navbar-nav{
	padding-top: 10px;
	padding-bottom: 10px;
	float: right;
}

/*.navbar-brand > img {
	width: auto;
	height: 100%;
	padding: 0 15px 0 0;
	width: auto;
	display: inline-block;
}

.config-menu{
	color: #8B0000;
	font-weight: bold;
}

.logo{
	max-width: 140px;
	max-height: 80px;
}

/*.navbar-brand{
	width: 100%;
	height: 100%
	font-size: 36px;
	font-weight: 600;
}

.icon-bar{
	background: #8B0000;
}

.dropdown-menu{
	font-weight: bold;
	font-size: 13px;
	opacity: 1;
	margin: 10px 8px 10px;
}
/*----------------------*/


/* ------MENU CURSOS----- */
.img-cursos{
	width: 100%;
	height: 375px;
}

.conteudo-curso{
	text-align: justify;
	padding-top: 25px;
}
/*------------------------*/


/* -----MENU NOTICIAS----- */
.img-hover:hover{
	opacity: 0.8;
}

.img-post-noticias{
	height: 375px;
	width: 830px;
}
/*------------------------*/


/* --SUB CALENDARIO ACADEMICO-*/
.img-cal-acad{
	width: 100%;
	height: 100%;
}

.titulo-secundario{
	text-align: center;	
}
/*---------------------------*/


/* ----MENU BIBLIOTECA---- */
.titulo-biblio{
	padding-top: 13px;
}
/*-------------------------*/


/* --SUB DIRETORIO ACADEMICO-- */
.img-top-post{
	width: 100%;
	height: 400px;
}
/*----------------------------*/


/* ----MENU SECRETARIA---- */
#titulo-docs-sec{
	padding-top: 33px;
}
/*-------------------------*/


/* ---SUB ACHE O PROF---- */
i.glyphicon-chevron-down{
	font-size: 0.8em;
}

.panel-group{
	padding-top: 10px;
}
/*-------------------------*/


/* ---SUB PESQUISAR TCC--- */
.table-responsive{
	padding-top: 23px;
}
/*-------------------------*/


/* ---SUB FALE COM FATEC-- */
#oculta{
	display: none;
}
/*-------------------------*/


/* ----SUB INFRA FATEC----*/
.img-infra{
	width: 100%;
	height: 375px;
}
/*-------------------------*/


/* ----SUB SOBRE FATEC---- */
.img-sobre-fatec{
	width: 100%;
	height: 465px;
	image-rendering: auto;
}
/*-------------------------*/


/* ---SUB CORPO DOCENTE--- */
.icon-lattes{
	max-width: 30px;
	max-height: 30px;
}
/*-------------------------*/


/*#paineis-sobre {
    margin-top: 20px;
}

.topCasaFina-banner {
    color: #FFF;
    background-color: rgba(0, 0, 0, .5);
    padding: 20px;
    width: 80%;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
}
 
.titulo-depoimentos {
    background-color: #0275D8;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #FFF;
    margin-bottom: 0;
    font-size: 24px;
}
 
.depoimentos1{
    margin-top: 0;
    margin-bottom: 0;
}
 
.contato-select,
.grupo-radio {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}
 
.grupo-radio .radio:first-child {
    margin-top: 0;
}

@media(min-width: 768px) {
    #paineis-sobre {
        margin-top: 0;  
    }
}
 
@media(min-width: 992px) {
    .topCasaFina-banner {
        left: 0;
        transform: translate(0, -80%);
        width: 50%;
    }
 
    .topCasaFina-bannerWrapper {
        position: relative;
        height: 100%;
    }
}


footer {
	background-color: #333;
	color: #FFF;
	padding: 20px;
	margin-top: 10px;
}

footer address:last-child {
	margin-bottom: 0;
}