html,
body {
	height: 100%;
}

header h1 {
	margin-top: 0;
	margin-bottom: 0;
}

textarea{
	resize: vertical;
}

.page-header, #titulo-col-pesq-tcc{
	position: relative;
	text-align: center;
	border-bottom-color: #B22222;
}

#titulo-inscri-trans, #titulo-horario-trans, #titulo-local-trans, #titulo-divulg-trans,
	#titulo-matricula-trans, #titulo-docs-sec{
	position: relative;
	text-align: center;
	padding-top: 33px;
}

#titulo-reserva-biblio, #titulo-renova-biblio, #titulo-cesta-biblio, #titulo-wifi-biblio{
	padding-top: 10px;
}

#conteudo-horario-sec, #conteudo-funcionario-sec, #conteudo-solicitacoes-sec, #conteudo-docs-sec, #conteudo-infos-trans, 
	#conteudo-inscri-trans, #conteudo-horario-trans, #conteudo-local-trans, #conteudo-divulg-trans, 
		#conteudo-matricula-trans, #conteudo-pesquisar-tcc, #conteudo-emprestimos-biblio, #conteudo-horario-biblio, 
			#conteudo-reserva-biblio, #conteudo-renova-biblio, #conteudo-cesta-biblio, #conteudo-wifi-biblio,
				#conteudo-fale-contato, #conteudo-suporte-contato, #conteudo-responsaveis-contato, 
					#conteudo-contato-suporte{
	position: relative;
	justify-content: center;
	text-align: center;
}

#evidenciar{
	font-size: 16px;
	font-weight: bolder;
	font-style: italic;
}

.glyphicon.btn-default{
	position: relative;
	left: 27px;
}

.img-hover:hover{
	opacity: 0.8;
}

#img-post-noticias{
	height: 375px;
	width: 830px;
}

footer {
	background-color: #333;
	color: #FFF;
	padding: 20px;
	margin-top: 10px;
}

footer address:last-child {
	margin-bottom: 0;
}


