html,
body {
	height: 100%;
}

header h1 {
	margin-top: 0;
	margin-bottom: 0;
}

textarea{
	resize: vertical;
}

.page-header{
	position: relative;
	text-align: center;
	border-bottom-color: #B22222;
}

#titulo-docs-sec{
	padding-top: 33px;
}

#oculta{
	display: none;
}

.table-responsive{
	padding-top: 23px;
}

.titulo-biblio{
	padding-top: 13px;
}

.conteudo-pagina{
	position: relative;
	justify-content: center;
	text-align: center;
}

.evidenciar{
	font-size: 16px;
	font-weight: bolder;
	font-style: italic;	
}

.glyphicon.btn-default{
	position: relative;
	left: 27px;
}

.img-hover:hover{
	opacity: 0.8;
}

.img-post-noticias{
	height: 375px;
	width: 830px;
}

footer {
	background-color: #333;
	color: #FFF;
	padding: 20px;
	margin-top: 10px;
}

footer address:last-child {
	margin-bottom: 0;
}


